<div class="row">
  <div class="large-4 columns">
     <div class="panel">
       <h5 class="subheader"><%= link_to 'Create Blue Cards', bluecards_new_path, :class => 'button' %></h5>
     </div>
  </div>

  <div class="large-4 small-6 columns">
    <!-- 300 x 465 -->
    <%= image_tag("TroopTrackAd.png", :alt => "Image Error") %>
  </div>

  <div class="large-4 columns">
   <div class="panel">
     <h3>Test</h3>
      Test Test
   </div>
 </div>
</div>
