<div class="row">
 <div class="large-12 columns">

   <div class="row">
     <div class="large-12 hide-for-small">

       <div id="featured" data-orbit>

<!---1200 x 500 -->
         <%= image_tag("stock1.jpg", :alt => "Image Error") %>

         </div>

   </div>
 </div>

   <div class="row">
     <div class="large-12 columns show-for-small">

<!---1200 x 700 -->
       <%= image_tag("stock3.jpg", :alt => "Image Error") %>

     </div>
   </div><br>

   <div class="row">
     <div class="large-12 columns">
       <div class="row">

         <div class="large-4 small-6 columns">

           <h4>Your Profile</h4><hr>

           <div class="row">
             <div class="large-1 column">
               <img src="http://placehold.it/50x50&text=[img]">
             </div>

             <div class="large-9 columns">
               <h5><a href="#">Your Scouts</a></h5>
               <h6 class="subheader show-for-small">Subheader</h6>
             </div>
           </div><hr>

           <div class="hide-for-small">
             <div class="row">
               <div class="large-1 column">
                 <img src="http://placehold.it/50x50&text=[img]">
               </div>

               <div class="large-9 columns">
                 <h5 class="subheader"><a href="#">Your Orders</a></h5>
               </div>
             </div><hr>

             <div class="row">
               <div class="large-1 column">
                 <img src="http://placehold.it/50x50&text=[img]">
               </div>

               <div class="large-9 columns">
                 <h5 class="subheader"><a href="#">Your Blue Cards</a></h5>
               </div>
             </div><hr>

             <div class="row">
               <div class="large-1 column">
                 <img src="http://placehold.it/50x50&text=[img]">
               </div>

               <div class="large-9 columns">
                 <h5 class="subheader"><a href="#">New Blue Cards</a></h5>
               </div>
             </div>
           </div>
         </div>

         <div class="large-4 small-6 columns">
<!-- 300 x 465 -->
          <%= image_tag("stock2.jpg", :alt => "Image Error") %>
         </div>

         <div class="large-4 small-12 columns">

           <h4>Testimonials</h4><hr>
           <div class="panel">
             <h5><a href="#">Post Title 1</a></h5>

             <h6 class="subheader">
               Blah Blah Blah
             </h6>

             <h6><a href="#">Read More »</a></h6>
           </div>

           <div class="panel hide-for-small">
             <h5><a href="#">Post Title 2 »</a></h5>
           </div>

           <div class="panel hide-for-small">
             <h5><a href="#">Post Title 3 »</a></h5>
           </div>

           <a href="#" class="right">Submit Testimonial</a>

         </div>

       </div>
     </div>
   </div>

   <footer class="row">
     <div class="large-12 columns"><hr>
         <div class="row">

           <div class="large-6 columns">
               <p>Copyright Stuff</p>
           </div>

           <div class="large-6 small-12 columns">
               <ul class="inline-list right">
                 <li><a href="#">Link 1</a></li>
                 <li><a href="#">Link 2</a></li>
                 <li><a href="#">Link 3</a></li>
                 <li><a href="#">Link 4</a></li>
               </ul>
           </div>

         </div>
     </div>
   </footer>

 </div>
</div>
