<div class="row">
 <div class="large-12 columns">

   <div class="row">
     <div class="large-12 hide-for-small">

       <div id="featured" data-orbit>

<!---1200 x 500 -->
         <%= image_tag("rsz_1banner.png", :alt => "Image Error") %>

         </div>

   </div>
 </div>

   <div class="row">
     <div class="large-12 columns show-for-small">

<!---1200 x 700 -->
       <%= image_tag("banner.png", :alt => "Image Error") %>

     </div>
   </div><br>

<%= render "midlanding" %>


<div class="row">
     <div class="large-12 columns"><hr>
         <div class="row">
           <div class="large-6 columns">
               <p>Copyright Stuff</p>
           </div>

           <div class="large-6 small-12 columns">
               <ul class="inline-list right">
                 <li><a href="#">Link 1</a></li>
                 <li><a href="#">Link 2</a></li>
                 <li><a href="#">Link 3</a></li>
                 <li><a href="#">Link 4</a></li>
               </ul>
           </div>

         </div>
     </div>
   </footer>

 </div>
</div>
