<div class="row">
 <div class="large-12 columns">

   <div class="row">
     <div class="large-12 hide-for-small">

       <div id="featured" data-orbit>

<!---1200 x 500 -->
         <%= image_tag("rsz_1banner.png", :alt => "Image Error") %>

         </div>

   </div>
 </div>

   <div class="row">
     <div class="large-12 columns show-for-small">

<!---1200 x 700 -->
       <%= image_tag("banner.png", :alt => "Image Error") %>

     </div>
   </div><br>


<%= render "stufftodo" %>


         <div class="large-4 small-6 columns">
<!-- 300 x 465 -->
          <%= image_tag("TroopTrackAd.png", :alt => "Image Error") %>
         </div>

         <div class="large-4 small-12 columns">

           <h4>Our Services</h4><hr>
           <div class="panel">
             <h5><a href="#">Create Blue Cards</a></h5>

             <h6 class="subheader">
               On PrintBlueCards.com you can create as many blue cards...
             </h6>

             <h6><a href="#">Read More »</a></h6>
           </div>

           <div class="panel hide-for-small">
             <h5><a href="#">Print off Blue Cards »</a></h5>
           </div>

           <div class="panel hide-for-small">
             <h5><a href="#">Buy Blue Card Paper »</a></h5>
           </div>

           <a href="#" class="right">See More</a>

         </div>

       </div>
     </div>
   </div>

   <footer class="row">
     <div class="large-12 columns"><hr>
         <div class="row">

           <div class="large-6 columns">
               <p>Copyright Stuff</p>
           </div>

           <div class="large-6 small-12 columns">
               <ul class="inline-list right">
                 <li><a href="#">Link 1</a></li>
                 <li><a href="#">Link 2</a></li>
                 <li><a href="#">Link 3</a></li>
                 <li><a href="#">Link 4</a></li>
               </ul>
           </div>

         </div>
     </div>
   </footer>

 </div>
</div>
